{% extends "./base.html" %}

{% block title %}CRUD{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Management Edit</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'update' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="id" value="{{crud.id}}" class="form-control" placeholder="ID" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" value="{{crud.last_name}}" class="form-control" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="first_name" value="{{crud.first_name}}" class="form-control" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" value="{{crud.email}}" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" value="{{crud.phone}}" class="form-control" placeholder="Phone" minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="address" value="{{crud.address}}" class="form-control" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" value="{{crud.password}}" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}