{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link  rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'img/logo.png' %}" alt="HireTaskUp">
                    </a>
                </div>
                <div class="mode-toggle">
                    <img src="{% static 'img/moon.svg' %}" alt="Modo oscuro" id="mode-toggle-btn">
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">Use Case</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Enterprise Plans</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="main-container">
            <div class="flex-container">
                <div>
                    <h1>Virtual assistant services for your business</h1>
                    <p> Delegate your essential tasks to our skilled virtual assistants and focus on what matters the most -growing your business.</p>
                    <button class="btn btn-primary">Get Started</button> 
                    <button class="btn btn-light">Plans & Pricing </button>
                </div>
                <div>
                    <image src="{% static 'img/hero.png' %}" alt="Hero Image" class="hero-image"></image>
                </div>
            </div>

            <div class="trusted-container">
                <div class="trusted">
                    <p>Trusted by Thousand of companies around the world</p>
                    <img src="{% static 'img/companies.png' %}" alt="Trusted 1" class="trusted-image">
                </div>
                <div class="trusted">
                </div>
            </div>
            <div class="info-container">
                <div class="info-text">
                    <div>
                        <h3>Our Vision</h3>
                        <p>To become the leading provider of virtual assistance enabling companies to work more fficiently while they focus on their core objectives.</p>    
                    </div>
                </div>
                <div class="info-icons">
                    <div>
                        <div>
                            <img src="{% static 'img/growth.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Boost Productivity</h5>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{% static 'img/collaboration.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Virtual Collaboration</h5>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{% static 'img/streamline.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Boost Streamline Operations</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assistant-container">
                <div class="assistant">
                    <h2>Assistant</h2>
                    <p>This is some information about the assistant.</p>
                </div>
                <div class="assistant">
                    <p>This is some information about the assistant.</p>
                </div>
            </div>
            <div class="testimonies-container">
                <div class="testimonies">
                    <h2>Testimonies</h2>
                    <p>This is some information about the testimonies.</p>
                </div>
                <div class="testimonies">
                    <p>This is some information about the testimonies.</p>
                </div>
            </div>
            <div class="choose-container">
                <div class="choose">
                    <h2>Choose</h2>
                    <p>This is some information about why you should choose us.</p>
                </div>
            </div>
            <div class="information-container">
                <div class="information">
                    <h2>Information</h2>
                    <p>This is some information about the services we provide.</p>
                </div>
            </div>
            <div class="reviews">
                <h2>Reviews</h2>
                <p>This is some information about the reviews.</p>
            </div>
            <div class="subscriptions">
                <h2>Subscriptions</h2>
                <p>This is some information about the subscriptions.</p>
            </div>
            <div class="more-virtual-assistant">
                <h2>More Virtual Assistant</h2>
                <p>This is some information about the virtual assistant services.</p>
            </div>
            <div class="faqs">
                <h2>FAQs</h2>
                <p>This is some information about the frequently asked questions.</p>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2025 My Website</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

        </div>
    </body>
</html>

