{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link  rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'img/logo.png' %}" alt="HireTaskUp">
                    </a>
                </div>
                <div class="mode-toggle">
                    <img src="{% static 'img/moon.svg' %}" alt="Modo oscuro" id="mode-toggle-btn">
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">Use Case</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Enterprise Plans</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="main-container">
            <div class="flex-container">
                <div>
                    <h1>Virtual assistant services for your business</h1>
                    <p> Delegate your essential tasks to our skilled virtual assistants and focus on what matters the most -growing your business.</p>
                    <button class="btn btn-primary">Get Started</button> 
                    <button class="btn btn-light">Plans & Pricing </button>
                </div>
                <div>
                    <image src="{% static 'img/hero.png' %}" alt="Hero Image" class="hero-image"></image>
                </div>
            </div>
            <div class="info-container">
                <div class="info-text">
                    <div>
                        <h3>Our Vision</h3>
                        <p>To become the leading provider of virtual assistance enabling companies to work more fficiently while they focus on their core objectives.</p>    
                    </div>
                </div>
                <div class="info-icons">
                    <div>
                        <div>
                            <img src="{% static 'img/growth.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Boost Productivity</h5>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{% static 'img/collaboration.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Virtual Collaboration</h5>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="{% static 'img/streamline.png' %}" alt="growth" class="info-icon">
                        </div>
                        <div>
                            <h5>Boost Streamline Operations</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assistant-container">
                <div class="assistant-text">
                    <h2>What does a Virtual Assistant Do?</h2>
                    <p>
                        A Wing General Virtual Assistant (GVA) will take care of your administrative and personal work and help you streamline your day-to-day operations so you can focus on growing your business and achieving your goals.
                        Do you need something else? Jump to: More Virtual Assistant Services
                    </p>
                </div>
                <div class="table-container">
                    <div class="assistant">
                        <img src="{% static 'img/calendar.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Calendar Management</h5>
                            <p>Our virtual assistants can help you manage your calendar, schedule appointments, and send reminders.</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/research.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Basic research and reports</h5>
                            <p>Gather data from different platforms and produce reports and insights as required</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/calls.png' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Recieve your calls</h5>
                            <p>Your assistant can handle your phone calls, take notes, and attend/route them as required.</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/travel.png' %}" alt="assistant" class="assistant-image">
                        <div> 
                            <h5>Make travel arrangements</h5>
                            <p>Wing Assistant prepares itineraries for company executives, books hotels and cars, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="assistant">
                        <img src="{% static 'img/email.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Email and Response Management</h5>
                            <p>Let your assistant manage emails, conduct follow-ups, forward important and urgent emails.</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/order.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Order products and supplies</h5>
                            <p>Take care of miscellaneous needs such as ordering office supplies, furniture, team lunch, etc.</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/handle.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Handle CRM tools</h5>
                            <p>Your assistant can input and update records and collect information for your CRM tools.</p>
                        </div>
                    </div>
                    <div class="assistant">
                        <img src="{% static 'img/invoices.webp' %}" alt="assistant" class="assistant-image">
                        <div>
                            <h5>Track expenses and invoices</h5>
                            <p>Creates or sends statements or invoices, track payments, and record company expenses.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonies-container">
                <div class="testimonies">
                    <div>
                        <h2>Customer Testimonial</h2>
                    </div>
                    <div class="testimony-card">
                        <img src="{% static 'img/comillas.png' %}" alt="">
                        <div class="general-card">
                            <p>Our virtual assistant from TaskUp has become an indiepensable part of our team. Their eficiency and attention to detail has helped us stay organized.</p>
                            <h6> John Smith</h6>
                            <p> CEO, Company name</p>
                        </div>
                    </div>

                                        <div class="testimony-card">
                        <img src="{% static 'img/comillas.png' %}" alt="">
                        <div class="general-card">
                            <p>Our virtual assistant from TaskUp has become an indiepensable part of our team. Their eficiency and attention to detail has helped us stay organized.</p>
                            <h6> John Smith</h6>
                            <p> CEO, Company name</p>
                        </div>
                    </div>
                                        <div class="testimony-card">
                        <img src="{% static 'img/comillas.png' %}" alt="">
                        <div class="general-card">
                            <p>Our virtual assistant from TaskUp has become an indiepensable part of our team. Their eficiency and attention to detail has helped us stay organized.</p>
                            <h6> John Smith</h6>
                            <p> CEO, Company name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="choose-container">
                <div>
                    <h2>Why choose TaskUp</h2>
                    <p>Our virtual assistants are trained to help you with your business needs. We have a wide range of services to choose from.</p>
                    <p>We have a team of experts who are ready to help you with your business needs. We have a wide range of services to choose from.</p>   
                </div>
                
                <div class="testimonies">
                        <div class="choose-img">
                            <img src="{% static 'img/service-stages.png' %}" alt="">
                        </div>
                    <div>
                        <h2>How it works</h2>
                        <p>Our virtual assistants are trained to help you with your business needs. We have a wide range of services to choose from.</p>
                        <p>We have a team of experts who are ready to help you with your business needs. We have a wide range of services to choose from.</p>
                        <div class="choose-card">

                        </div>
                    </div>
                </div>
            </div>
            <div class="information-container">
                <div class="information">
                    <h2>Information</h2>
                    <p>This is some information about the services we provide.</p>
                </div>
            </div>
            <div class="reviews">
                <h2>Reviews</h2>
                <p>This is some information about the reviews.</p>
            </div>
            <div class="subscriptions">
                <h2>Subscriptions</h2>
                <p>This is some information about the subscriptions.</p>
            </div>
            <div class="more-virtual-assistant">
                <h2>More Virtual Assistant</h2>
                <p>This is some information about the virtual assistant services.</p>
            </div>
            <div class="faqs">
                <h2>FAQs</h2>
                <p>This is some information about the frequently asked questions.</p>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2025 My Website</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

        </div>
    </body>
</html>

