{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hire TaskUp</title>
        <link  rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
        <header>
             <div class="header-container">
                <div class="left-section">
                    <a href="#" class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="TaskUp">
                    </a>
                    <nav>
                        <ul class="menu">
                            <li><a href="{% url 'home' %}">Inicio</a></li>
                            <li><a href="{% url 'plans' %}">Plans</a></li>
                            <li><a href="{% url 'about' %}">Sobre nosotros</a></li>
                            <li><a href="{% url 'contact' %}">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
                {% if request.user.is_authenticated %}
                <div class="right-section">
                    <div class="user-dropdown" style="display: inline-block; position: relative;">
                        <a href="#" id="userDropdownToggle">
                            <img src="{% static 'img/menu.svg' %}" alt="User Icon" class="menu-icon">
                        </a>
                        <div class="submenu" id="userDropdownMenu">
                            <div style="text-align:center; margin-bottom: 16px;">
                                <img src="{% static 'img/user.png' %}" alt="User Icon" class="user-icon">
                                <div>{{ request.user.get_full_name }} <span>({{ request.user.username }})</span></div>
                                <div>{{ request.user.email }}</div>
                            </div>
                            <button class="btn btn-outline-dark mb-3" ">Subscriptions</button>
                            <a href="{% url 'user_profile' %}" class="dropdown-link" >Profile</a>
                            <a href="#" class="dropdown-link" >Settings</a>
                            <a href="#" class="dropdown-link" >Billing and payments</a>
                            <hr>
                            <a href="#" class="dropdown-link" >English <span>🌐</span></a>
                            <a href="#" class="dropdown-link" >US$ USD</a>
                            <hr>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link dropdown-link">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="right-section">
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                </div>
                {% endif %}
            </div>
        </header>
        {% block content %}
        {% endblock content %}
        <script src="{% static 'js/reviews-slider.js' %}"></script>
        <script src="{% static 'js/accordion.js' %}"></script>
        <script src="{% static 'js/faqs.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <div class="footer">
            <p>&copy; 2025 My Website</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
</body>
</html>