body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 255, 255);
    display: flex; /* Hacemos el body un flex container */
    flex-direction: column; /* Ordenamos los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que la altura del body sea al menos la altura de la viewport */
}
